@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Medium.eot);
    src: local('../font/Gotham Pro Medium'), local('GothamPro-Medium'), url(../font/GothamPro-Medium.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Medium.woff) format('woff'), url(../font/GothamPro-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Bold.eot);
    src: local('../font/Gotham Pro Bold'), local('GothamPro-Bold'), url(../font/GothamPro-Bold.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Bold.woff) format('woff'), url(../font/GothamPro-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Light.eot);
    src: local('../font/Gotham Pro Light'), local('GothamPro-Light'), url(../font/GothamPro-Light.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Light.woff) format('woff'), url(../font/GothamPro-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Black.eot);
    src: local('../font/Gotham Pro Black'), local('GothamPro-Black'), url(../font/GothamPro-Black.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Black.woff) format('woff'), url(../font/GothamPro-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro.eot);
    src: local('../font/Gotham Pro'), local('GothamPro'), url(../font/GothamPro.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro.woff) format('woff'), url(../font/GothamPro.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

.font-light-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-style: normal
}

.font-regular-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal
}

.font-medium-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal
}

.font-bold-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal
}

.font-black-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 900;
    font-style: normal
}

.header {
    height: 560px;
    background: transparent url(../img/background/about.jpg) center center no-repeat;
    background-size: cover;
    margin-bottom: 115px;
    position: relative
}

.header:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #2F3437;
    opacity: .4
}

.header:after {
    content: "";
    display: block;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .1) 53.13%, rgba(0, 0, 0, .4) 100%)
}

.header .content-container {
    max-width: 1000px;
    padding-top: 150px;
    margin: 0 auto
}

.header .border {
    border: 8px solid #009877;
    width: 400px;
    height: 345px;
    position: relative
}

.header .border .text-wrapp {
    position: absolute;
    bottom: 60px;
    width: 700px;
    padding-left: 50px
}

.header .border h1 {
    font-size: 40px;
    line-height: 50px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff
}

.about-title {
    margin: 0 auto;
    max-width: 770px;
    margin-bottom: 105px;
    font-size: 22px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center
}

.rotator {
    width: 100%;
    height: 760px
}

.rotator .read-more {
    font-size: 12px;
    line-height: 16px;
    color: #009877;
    padding-bottom: 2px;
    border-bottom: 1px dashed #009877;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    display: none
}

.rotator .slick-arrow {
    left: unset;
    right: unset;
    z-index: 99;
    width: unset;
    height: unset;
    display: flex;
    width: 160px;
    justify-content: space-between;
    transition: .3s all ease-in-out
}

.rotator .slick-arrow span {
    font-size: 15px;
    line-height: 27px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    white-space: nowrap;
    width: calc(100% - 10px)
}

.rotator .slick-arrow img {
    margin-right: 10px;
    margin-left: 10px
}

.rotator .slick-arrow:before {
    display: none
}

.rotator .slick-arrow.slick-next {
    top: 44px;
    left: unset;
    right: calc((100% - 1200px)/ 2 + 32px + (1200px - 1015px - 32px))
}

.rotator .slick-arrow.slick-next span {
    text-align: right
}

.rotator .slick-arrow.slick-prev {
    left: calc((100% - 1200px)/ 2 + 600px + 8px + 15px);
    top: 44px
}

.rotator .slick-arrow.slick-prev span {
    text-align: left
}

.wrapper {
    position: relative;
    height: 760px !important;
    width: 100%
}

.wrapper .back {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}

.wrapper .content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px
}

.wrapper .border {
    box-sizing: border-box;
    width: 1015px;
    margin-left: 40px;
    padding-top: 40px;
    padding-left: 40px;
    margin-bottom: 100px;
    position: relative
}

.wrapper .border:before {
    content: '';
    width: 560px;
    display: block;
    position: absolute;
    top: 0;
    left: 0
}

.wrapper .border:after {
    content: '';
    width: 30px;
    display: block;
    position: absolute;
    top: 0;
    right: 0
}

.wrapper .border.green {
    border-bottom: 8px solid #009877;
    border-left: 8px solid #009877;
    border-right: 8px solid #009877
}

.wrapper .border.green:after,
.wrapper .border.green:before {
    border-top: 8px solid #009877
}

.wrapper .border.yellow {
    border-bottom: 8px solid #DDDC00;
    border-left: 8px solid #DDDC00;
    border-right: 8px solid #DDDC00
}

.wrapper .border.yellow:after,
.wrapper .border.yellow:before {
    border-top: 8px solid #DDDC00
}

.wrapper .border.orange {
    border-bottom: 8px solid #F7A840;
    border-left: 8px solid #F7A840;
    border-right: 8px solid #F7A840
}

.wrapper .border.orange:after,
.wrapper .border.orange:before {
    border-top: 8px solid #F7A840
}

.slide-title {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 50px;
    color: #fff
}

.first .border {
    padding-right: 100px
}

.slogan {
    font-size: 60px;
    line-height: 70px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    margin-top: 140px;
    margin-bottom: 80px
}

.description-slide {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 40px;
    width: 70%
}

.second .slide-title {
    margin-bottom: 15px
}

.second .border {
    padding-right: 100px
}

.second .content-wrapper {
    margin-top: 35px
}

.benefits-wrapp {
    display: flex;
    flex-flow: row wrap
}

.benefit {
    width: calc(100% / 3);
    padding-right: 45px;
    margin-bottom: 45px
}

.benefit .title {
    font-size: 16px;
    line-height: 15px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px;
    color: #fff
}

.benefit .description {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    color: #fff
}

.third .slide-title {
    margin-bottom: 40px
}

.achievement {
    margin-top: 150px;
    margin-bottom: 200px;
    transition: .5s opacity ease-in-out;
    opacity: 0;
    transform: translateY(200px)
}

.achievement h2 {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
    text-align: center
}

.achievement .wrapp {
    display: flex;
    justify-content: center;
    margin-bottom: 100px
}

.achievement .achiev {
    text-align: center;
    width: calc(200px)
}

.achievement .icon {
    width: 110px;
    height: 110px
}

.achievement .text span {
    font-size: 40px;
    line-height: 50px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 900;
    font-style: normal
}

.achievement .text p {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal
}

.achievement #production:before {
    content: '+';
    font-size: 40px;
    line-height: 50px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 900;
    font-style: normal
}

.achievement #production:after {
    content: "%";
    font-size: 40px;
    line-height: 50px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 900;
    font-style: normal
}

.achievement .timer {
    margin: 0 auto;
    text-align: center
}

.achievement .timer pre {
    font-size: 80px;
    line-height: 77px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 900;
    font-style: normal;
    width: 350px;
    margin: 0 auto;
    margin-left: calc((100% - 350px)/ 2 - 30px)
}

.achievement .timer p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal
}

.date-range h2 {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 60px;
    text-align: center
}

.date-range input[type=range] {
    -webkit-appearance: none
}

.date-range input[type=range]:focus {
    outline: 0
}

.date-range input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 50px;
    cursor: pointer;
    background: #fff;
    border-bottom: 4px solid #009877
}

.date-range input[type=range]::-webkit-slider-thumb {
    height: 50px;
    width: 270px;
    border-radius: 0;
    background: #009877;
    cursor: pointer;
    -webkit-appearance: none
}

.date-range input[type=range]::-webkit-slider-thumb:before {
    height: 50px;
    width: 170px;
    border-radius: 0;
    background: #000;
    cursor: pointer;
    -webkit-appearance: none;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0
}

.date-range input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fff;
    border-bottom: 4px solid #009877
}

.date-range input[type=range]::-moz-range-track {
    width: 100%;
    height: 50px;
    cursor: pointer;
    background: #fff;
    border-bottom: 4px solid #009877
}

.date-range input[type=range]::-moz-range-thumb {
    height: 50px;
    width: 270px;
    border-radius: 0;
    background: #009877;
    cursor: pointer;
    border: 1px solid #009877
}

.date-range input[type=range]::-ms-track {
    width: 100%;
    height: 50px;
    cursor: pointer;
    background: #fff;
    border-bottom: 4px solid #009877;
    color: transparent
}

.date-range input[type=range]::-ms-fill-lower {
    background: #fff
}

.date-range input[type=range]::-ms-fill-upper {
    background: #fff
}

.date-range input[type=range]::-ms-thumb {
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #fff;
    cursor: pointer
}

.date-range input[type=range]:focus::-ms-fill-lower {
    background: #fff
}

.date-range input[type=range]:focus::-ms-fill-upper {
    background: #fff
}

.date-range [type=range] {
    width: 100%;
    height: 50px
}

.date-range .date-rotator {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: calc((100% - 550px)/ 2)
}

.date-range .date-rotator .wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s all ease;
    margin: 0 auto;
    width: auto
}

.range-wrapp {
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 60px
}

.range-wrapp hr {
    width: 1px;
    height: 10px;
    border: 1px solid red
}

.range-wrapp ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 3px;
    list-style: none;
    pointer-events: none;
    width: 100%
}

.range-wrapp ul li p {
    text-align: center;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 50px;
    color: #000;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: hard-light
}

.item {
    max-width: 700px;
    min-width: 550px;
    margin-right: 120px;
    display: inline-block
}

.item:last-child {
    margin-right: 0
}

.item .img-cover {
    width: 100%;
    position: relative;
    padding-top: 65%;
    overflow: hidden;
    margin-bottom: 30px
}

.item .img-cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0
}

.item .text-wrapp {
    display: flex;
    align-items: flex-start
}

.item .text-wrapp .date {
    font-size: 50px;
    line-height: 50px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 220px
}

.item .text-wrapp .description {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    width: calc(100% - 220px)
}

.geography {
    padding-top: 250px;
    position: relative;
    background: linear-gradient(270deg, rgba(255, 255, 255, .58) 0, rgba(255, 255, 255, 0) 100%);
    overflow: hidden
}

.geography img {
    position: absolute;
    left: -220px;
    z-index: -1;
    top: -22%;
    animation: 120s linear 0s infinite planetRotation;
    width: 1130px;
    height: auto
}

.geography .content-container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 150px;
    position: relative
}

.country-list {
    width: 50%;
    margin-left: auto
}

.country-list h2 {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 35px
}

.country-list .description {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 36px;
    width: 70%
}

.country-list p {
    font-size: 14px;
    line-height: 16px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 12px
}

.country-list .countries-wrapp {
    display: flex;
    width: 100%
}

.country-list .countries-wrapp div {
    width: 210px;
    margin-right: 50px
}

@keyframes planetRotation {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(-360deg)
    }
}

@media screen and (min-width:768px) and (max-width:1220px) {
    .header .content-container {
        max-width: 760px
    }

    .about-title {
        max-width: 700px
    }

    .wrapper {
        height: unset !important;
        padding-bottom: 40px
    }

    .wrapper .content-container {
        max-width: 760px
    }

    .wrapper .border {
        width: 100%;
        margin-bottom: unset;
        padding: 30px 50px 40px 40px
    }

    .wrapper .border:after,
    .wrapper .border:before {
        display: none
    }

    .wrapper .border.green {
        border-top: 8px solid #009877
    }

    .wrapper .border.yellow {
        border-top: 8px solid #DDDC00
    }

    .wrapper .border.orange {
        border-top: 8px solid #F7A840
    }

    .rotator {
        height: unset
    }

    .benefit {
        width: calc(100% / 2)
    }

    .range-wrapp ul li:nth-child(2n) {
        display: none
    }

    .geography .content-container {
        max-width: 760px
    }

    .geography img {
        top: -115px;
        left: -390px
    }

    .country-list .description {
        width: 100%
    }

    .country-list .countries-wrapp div {
        width: calc(50% - 20px);
        margin-right: 20px
    }
}

@media screen and (max-width:768px) {
    .header {
        height: unset;
        margin-bottom: 60px
    }

    .header .content-container {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px
    }

    .header .border {
        width: 100%;
        height: unset
    }

    .header .border .text-wrapp {
        width: 100%;
        padding-left: 26px;
        padding-bottom: 15px;
        padding-top: 40px;
        padding-right: 20px;
        position: unset
    }

    .header .border h1 {
        font-size: 24px;
        line-height: 32px
    }

    .about-title {
        max-width: calc(100% - 40px);
        margin-right: auto;
        margin-left: auto;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 60px
    }

    .rotator {
        height: unset
    }

    .rotator .read-more {
        display: block;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        color: #009877
    }

    .rotator .border:after,
    .rotator .border:before {
        display: none
    }

    .rotator .border.green {
        border-top: 8px solid #009877
    }

    .rotator .border.yellow {
        border-top: 8px solid #DDDC00
    }

    .rotator .border.orange {
        border-top: 8px solid #F7A840
    }

    .wrapper {
        height: unset !important;
        width: 100%;
        margin-bottom: 40px
    }

    .wrapper .content-container {
        padding-top: 125px
    }

    .wrapper .back {
        width: 100%;
        height: 190px
    }

    .wrapper .border {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        padding: 20px 25px;
        margin-bottom: 0;
        max-height: 400px;
        transition: .3s all ease-in-out
    }

    .wrapper .content-wrapper {
        height: 123px;
        overflow: hidden;
        color: #333;
        position: relative;
        margin-top: 15px;
        padding-top: 20px
    }

    .wrapper .content-wrapper.full {
        height: unset
    }

    .wrapper .content-wrapper.full:after {
        display: none
    }

    .wrapper .content-wrapper:after {
        content: '';
        display: block;
        width: 100%;
        height: 75px;
        background: linear-gradient(360deg, #FFF 0, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        bottom: 0;
        left: 0
    }

    .third .slide-title {
        margin-bottom: 15px
    }

    .benefits-wrapp {
        display: block
    }

    .benefit {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 35px
    }

    .benefit:last-child {
        margin-bottom: 45px
    }

    .benefit .description,
    .benefit .title {
        color: #333
    }

    .benefit .description {
        font-size: 14px;
        line-height: 20px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 400;
        font-style: normal
    }

    .description-slide {
        color: #333;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 400;
        font-style: normal
    }

    .slogan {
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 900;
        font-style: normal;
        color: #333;
        font-size: 20px;
        line-height: 24px;
        margin-top: 73px;
        margin-bottom: 50px
    }

    .slide-title {
        font-size: 18px;
        line-height: 24px
    }

    .achievement {
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: 91px
    }

    .achievement .wrapp {
        display: block;
        margin-bottom: 45px
    }

    .achievement .achiev {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px
    }

    .achievement .icon {
        height: 46px;
        width: 46px;
        transform: translateY(10px)
    }

    .achievement .text {
        width: 100%;
        text-align: center;
        padding-right: 0;
        display: inline
    }

    .achievement .text span {
        font-size: 32px;
        line-height: 42px
    }

    .achievement .text p {
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px
    }

    .achievement #production:before {
        content: '+';
        font-size: 32px;
        line-height: 42px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 900;
        font-style: normal
    }

    .achievement #production:after {
        content: "%";
        font-size: 32px;
        line-height: 42px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 900;
        font-style: normal
    }

    .achievement .timer pre {
        font-size: 48px;
        line-height: 46px;
        width: 100%;
        margin-left: auto;
        margin-right: auto
    }

    .achievement .timer p {
        font-size: 14px;
        line-height: 18px
    }

    .achievement h2 {
        font-size: 18px;
        line-height: 24px
    }

    .geography {
        padding-bottom: 85px;
        padding-top: 100px;
        overflow: hidden
    }

    .geography img {
        position: unset;
        animation: unset;
        width: 455px;
        left: -150px;
        transform: rotate(-155.15deg);
        z-index: -9999;
        position: relative;
        right: unset
    }

    .geography .content-container {
        max-width: calc(100% - 40px);
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 0
    }

    .country-list {
        width: 100%;
        margin-top: -100px;
        margin-left: unset
    }

    .country-list h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px
    }

    .country-list p {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 12px
    }

    .country-list .countries-wrapp {
        display: block;
        column-count: 2
    }

    .country-list .countries-wrapp div {
        width: 100%;
        margin-right: unset
    }

    .country-list .description {
        width: 100%;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 24px
    }

    .item {
        width: calc(100vw - 40px);
        min-width: unset;
        margin-right: 15px
    }

    .item .text-wrapp .date {
        width: 90px;
        font-size: 24px;
        line-height: 32px
    }

    .item .text-wrapp .description {
        width: calc(100% - 90px);
        font-size: 13px;
        line-height: 20px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 300;
        font-style: normal
    }

    .range-wrapp {
        display: none
    }

    .date-range {
        overflow: hidden
    }

    .date-range h2 {
        font-size: 18px;
        line-height: 24px;
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-bottom: 20px
    }

    .date-range .date-rotator {
        overflow: unset;
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-right: 0;
        padding-left: 0
    }

    .date-range .date-rotator .wrapp {
        width: unset !important;
        margin-left: unset !important
    }

    .date-range .slick-arrow {
        top: -34px
    }

    .date-range .slick-arrow:before {
        display: none
    }

    .date-range .slick-arrow.slick-prev {
        left: unset;
        right: 40px
    }

    .date-range .slick-arrow.slick-next {
        left: unset;
        right: 0
    }
}