@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Medium.eot);
    src: local('../font/Gotham Pro Medium'), local('GothamPro-Medium'), url(../font/GothamPro-Medium.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Medium.woff) format('woff'), url(../font/GothamPro-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Bold.eot);
    src: local('../font/Gotham Pro Bold'), local('GothamPro-Bold'), url(../font/GothamPro-Bold.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Bold.woff) format('woff'), url(../font/GothamPro-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Light.eot);
    src: local('../font/Gotham Pro Light'), local('GothamPro-Light'), url(../font/GothamPro-Light.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Light.woff) format('woff'), url(../font/GothamPro-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Black.eot);
    src: local('../font/Gotham Pro Black'), local('GothamPro-Black'), url(../font/GothamPro-Black.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Black.woff) format('woff'), url(../font/GothamPro-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro.eot);
    src: local('../font/Gotham Pro'), local('GothamPro'), url(../font/GothamPro.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro.woff) format('woff'), url(../font/GothamPro.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

.font-light-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-style: normal
}

.font-regular-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal
}

.font-medium-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal
}

.font-bold-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal
}

.font-black-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 900;
    font-style: normal
}

main {
    padding-top: 120px
}

main h1 {
    font-size: 40px;
    line-height: 50px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 70px;
    margin-bottom: 105px
}

.filter {
    width: 25%
}

.filter h2 {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 20px
}

.filter .legend {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 10px;
    display: block
}

.filter input {
    border: 1px solid #E0E0E0
}

.filter fieldset {
    max-width: 225px;
    margin-bottom: 30px
}

.filter .price-range {
    margin-bottom: 30px
}

.filter .range {
    width: 225px;
    display: flex;
    align-items: center
}

.filter .range .sep {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 6px
}

.filter .range input {
    width: 101px;
    height: 50px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 50px;
    padding: 10px
}

.filter .chb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
    margin-top: 6px
}

.filter .chb label {
    font-size: 16px;
    line-height: 50px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer
}

.filter button {
    background: #009877;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    border: 1px solid transparent;
    transition: .3s all ease-in-out;
    padding: 10px 20px
}

.filter button:hover {
    color: #009877;
    background: #fff;
    transition: .3s all ease-in-out;
    border: 1px solid #009877
}

.form-toggle {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #009877;
    border-bottom: 1px dashed #009877;
    padding-bottom: 2px;
    margin-bottom: 43px;
    display: none;
    cursor: pointer
}

.chb-wrapp {
    width: 40px;
    height: 40px;
    position: relative
}

.chb-wrapp input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;
    z-index: 999;
    cursor: pointer
}

.chb-wrapp .checkmark {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    border: 1px solid #E0E0E0;
    cursor: pointer
}

.chb-wrapp .checkmark:after {
    content: '';
    display: none;
    width: 23px;
    height: 15px;
    transform: rotate(-45deg);
    border-left: 3px solid #009877;
    border-bottom: 3px solid #009877;
    margin-left: 6px;
    margin-top: 6px
}

.chb-wrapp input:checked~.checkmark:after {
    display: block
}

.color-wrapp {
    width: 52px;
    height: 52px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 4px solid transparent;
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
    transition: .3s all ease-in-out
}

.color-wrapp div {
    width: 44px;
    height: 44px;
    overflow: hidden;
    border: 2px solid #fff;
    cursor: pointer
}

.color-wrapp input {
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 9999;
    cursor: pointer;
    position: relative
}

.color-wrapp.selected {
    border: 4px solid #009877
}

.result-wrapp {
    display: flex;
    margin-bottom: 250px
}

.door-canvas {
    width: 75%
}

.collection-title {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    padding-left: 8px
}

.collection-title h2 {
    font-size: 28px;
    line-height: 36px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-right: 25px
}

.collection-title .full-collection {
    display: inline-flex
}

.full-collection {
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    display: none;
    color: #009877;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    border: 1px solid #009877;
    padding: 10px 20px;
    border-radius: 8px;
    transition: .3s all ease-in-out;
    cursor: pointer
}

.full-collection:hover {
    background: #009877;
    color: #fff;
    transition: .3s all ease-in-out
}

.accessories,
.collection {
    margin-bottom: 80px
}

.accessories .door,
.collection .door {
    display: block;
    width: calc(100% / 3 - 14px);
    margin-right: 20px;
    padding-top: 45%;
    float: left;
    position: relative;
    margin-bottom: 25px
}

.accessories .door:nth-child(3n),
.collection .door:nth-child(3n) {
    margin-right: 0
}

.accessories .door:hover:before,
.collection .door:hover:before {
    content: '';
    display: block;
    width: calc(100%);
    height: calc(100%);
    position: absolute;
    top: -8px;
    left: -8px;
    border: 8px solid #009877;
    z-index: 1;
    transition: .3s all ease-in-out
}

.accessories .door img,
.collection .door img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover
}

.accessories .door .full-collection,
.collection .door .full-collection {
    display: none
}

.accessories .door .text-wrapp,
.collection .door .text-wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .1) 53.13%, rgba(0, 0, 0, 0) 100%)
}

.accessories .door p,
.collection .door p {
    width: 150px;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    text-align: center
}

.door-wrapp {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    max-height: 421px;
    overflow: hidden;
    transition: .3s all ease-in-out;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px
}

.tech {
    margin-right: calc(100% / 8);
    float: left;
    padding-left: 8px
}

.tech .door {
    width: calc((100vw - 25% - (100vw - 1200px))/ 3 - 14px)
}

.tech .clearfix {
    display: none
}

.tech .collection-title {
    padding-left: 0
}

.accessories .door {
    min-width: 380px
}

.accessories .door .text-wrapp p {
    width: 60%
}

.search-result {
    font-size: 22px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 70px;
    display: none
}

.search-result span {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal
}

@media screen and (min-width:768px) and (max-width:1220px) {
    main {
        padding-top: 70px
    }

    main h1 {
        margin-top: 40px;
        margin-bottom: 40px
    }

    .collection {
        margin-bottom: 50px
    }

    .collection .full-collection {
        display: inline-block
    }

    .collection .door {
        width: calc(100% / 2 - 20px);
        margin-right: 20px;
        padding-top: 64%
    }

    .collection .door:nth-child(2n) {
        margin-right: 0
    }

    .collection .door:nth-child(3n) {
        margin-right: 20px
    }

    .door-wrapp {
        max-height: 340px
    }

    .tech {
        float: unset;
        margin-right: 0
    }

    .tech .door {
        float: unset
    }

    .accessories {
        margin-bottom: 50px
    }

    .accessories .door {
        min-height: 314px;
        min-width: 290px;
        padding-top: 64%
    }

    .collection-title .full-collection {
        display: none
    }

    .filter {
        width: 35%
    }

    .filter fieldset {
        width: 200px
    }

    .filter .range {
        width: 200px
    }

    .filter .range input {
        width: calc(100% / 2 - 10px)
    }

    .filter .chb label {
        font-size: 14px;
        line-height: 50px
    }

    .door-canvas {
        width: 65%
    }

    .result-wrapp {
        margin-bottom: 100px
    }
}

@media screen and (max-width:768px) {
    main {
        padding-top: 70px
    }

    main h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 32px
    }

    .search-result {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 50px
    }

    .result-wrapp {
        display: block
    }

    .door-canvas,
    .filter {
        width: 100%
    }

    .door-wrapp {
        max-height: unset;
        padding: 0
    }

    .collection .full-collection {
        display: inline-flex
    }

    .accessories,
    .collection {
        margin-bottom: 50px
    }

    .result-wrapp {
        margin-bottom: 80px
    }

    .collection-title {
        margin-bottom: 20px;
        padding-left: 0
    }

    .collection-title h2 {
        font-size: 18px;
        line-height: 24px
    }

    .collection-title .full-collection {
        display: none
    }

    .accessories .door,
    .collection .door {
        width: 100%;
        min-width: unset;
        min-height: unset;
        float: unset;
        padding-top: 143%;
        margin-bottom: 30px;
        margin-right: 0
    }

    .tech {
        float: unset;
        margin-right: 0;
        padding: 0
    }

    .filter {
        overflow: hidden;
        margin-bottom: 70px
    }

    .filter.collapsed {
        height: 0;
        margin-bottom: 0
    }

    .filter h2 {
        display: none
    }

    .filter fieldset {
        width: 100%;
        max-width: 350px
    }

    .filter .legend {
        font-size: 13px;
        line-height: 16px
    }

    .filter .range {
        width: 100%;
        max-width: 350px
    }

    .filter .range input {
        width: calc(100% / 2 - 10px);
        height: 40px
    }

    .filter .chb label {
        font-size: 14px;
        line-height: 40px
    }

    .accessories .door .text-wrapp p {
        width: 85%
    }

    .chb-wrapp {
        width: 30px;
        height: 30px
    }

    .chb-wrapp .checkmark {
        width: 30px;
        height: 30px
    }

    .chb-wrapp .checkmark:after {
        width: 14px;
        height: 8px
    }

    .form-toggle {
        display: inline-block
    }
}