@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Medium.eot);
    src: local('../font/Gotham Pro Medium'), local('GothamPro-Medium'), url(../font/GothamPro-Medium.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Medium.woff) format('woff'), url(../font/GothamPro-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Bold.eot);
    src: local('../font/Gotham Pro Bold'), local('GothamPro-Bold'), url(../font/GothamPro-Bold.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Bold.woff) format('woff'), url(../font/GothamPro-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Light.eot);
    src: local('../font/Gotham Pro Light'), local('GothamPro-Light'), url(../font/GothamPro-Light.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Light.woff) format('woff'), url(../font/GothamPro-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Black.eot);
    src: local('../font/Gotham Pro Black'), local('GothamPro-Black'), url(../font/GothamPro-Black.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Black.woff) format('woff'), url(../font/GothamPro-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro.eot);
    src: local('../font/Gotham Pro'), local('GothamPro'), url(../font/GothamPro.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro.woff) format('woff'), url(../font/GothamPro.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

.font-light-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-style: normal
}

.font-regular-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal
}

.font-medium-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal
}

.font-bold-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal
}

.font-black-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 900;
    font-style: normal
}

body {
    background: transparent url(../img/eggg.svg) top left no-repeat;
    background-position: -935px -1000px
}

.locations {
    padding-right: 5%
}

.accordion {
    margin-bottom: 77px
}

.accordion .accordion_card {
    margin-bottom: 50px
}

.accordion .card_title {
    display: flex;
    cursor: pointer
}

.accordion img {
    width: 35px;
    height: 35px;
    margin-right: 25px
}

.accordion .title {
    width: calc(100% - 35px);
    padding-bottom: 2px
}

.accordion .title h2 {
    border-bottom: 1px dashed #81D4B4;
    font-size: 20px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    display: inline
}

.accordion .main-info {
    margin-left: 60px;
    max-height: 0;
    overflow: hidden;
    transition: .3s all ease-in-out
}

.accordion .address_block {
    margin-top: 23px;
    margin-bottom: 30px
}

.accordion .contact-info {
    column-count: 2
}

.full-info-block {
    margin-top: 20px
}

.full-info-block .row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px
}

.full-info-block .legend {
    width: 190px
}

.full-info-block .wrapp {
    width: calc(100% - 190px)
}

.full-info-block a:not(.route) {
    display: block;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000
}

.address {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 13px
}

.route {
    font-size: 12px;
    line-height: 16px;
    color: #009877;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 2px;
    border-bottom: 1px dashed #81D4B4;
    display: inline
}

.legend {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 32px;
    color: #828282
}

.block {
    margin-bottom: 10px
}

.block .legend {
    line-height: 18px
}

.block a {
    color: #000;
    font-size: 16px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    display: block
}

.contact_us-button {
    cursor: pointer;
    padding: 16px 43px;
    font-size: 25px;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: #009877;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    border: 1px solid #009877;
    border-radius: 8px;
    transition: .3s all ease-in-out;
    margin-bottom: 95px
}

.contact_us-button:hover {
    background: #009877;
    color: #fff !important;
    transition: .3s all ease-in-out
}

.agency {
    margin-bottom: 150px
}

.agency p:not(.legend) {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    margin-bottom: 15px
}

.agency .legend {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    margin-top: 3px
}

.agency a {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 26px
}

.area {
    display: flex;
    margin-bottom: 16px
}

.area h2 {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 135px;
    padding-right: 20px
}

.area .wrapp {
    display: flex;
    width: calc(100% - 135px)
}

.area .block {
    width: calc(100% / 2)
}

.contact_us-popup {
    max-width: 800px;
    background: #fff;
    padding: 60px 80px;
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%
}

.contact_us-popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer
}

.contact_us-popup .form-wrapp {
    width: 100%
}

.contact_us-popup h2 {
    margin-bottom: 80px;
    font-size: 40px;
    line-height: 50px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .accordion img {
        width: 25px;
        height: 25px;
        margin-right: 13px;
        margin-top: 5px
    }

    .accordion .main-info {
        margin-left: 38px
    }

    .accordion .contact-info {
        column-count: 1
    }

    .area .wrapp,
    .full-info-block .row {
        display: block
    }

    .area .wrapp .block,
    .area .wrapp .legend,
    .area .wrapp .wrapp,
    .full-info-block .row .block,
    .full-info-block .row .legend,
    .full-info-block .row .wrapp {
        width: 100%
    }

    .contact_us-popup {
        max-width: 700px
    }

    .contact_us-popup h2 {
        margin-bottom: 40px
    }
}

@media screen and (max-width:768px) {
    .locations {
        padding-right: unset
    }

    .contact_us-popup {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: 50px
    }

    .contact_us-popup h2 {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 32px
    }

    .accordion {
        margin-bottom: 45px
    }

    .accordion .accordion_card {
        margin-bottom: 25px
    }

    .accordion img {
        display: none
    }

    .accordion .contact-info {
        column-count: 1
    }

    .accordion .main-info {
        margin-left: 0
    }

    .accordion .title {
        width: 100%
    }

    .accordion .title h2 {
        font-size: 18px;
        line-height: 32px
    }

    .accordion .address_block {
        margin-top: 10px
    }

    .block a {
        font-size: 14px;
        line-height: 20px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 400;
        font-style: normal
    }

    .legend {
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 12px;
        line-height: 32px;
        color: #828282
    }

    .address {
        font-size: 14px;
        line-height: 26px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 0
    }

    .full-info-block {
        margin-top: 10px
    }

    .full-info-block .row {
        display: block
    }

    .full-info-block .row .legend,
    .full-info-block .row .wrapp {
        width: 100%
    }

    .full-info-block .row a:not(.route) {
        font-size: 14px;
        line-height: 20px;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 400;
        font-style: normal
    }

    .agency p:not(.legend) {
        margin-bottom: 20px
    }

    .agency .legend {
        margin-top: 0;
        margin-bottom: 5px
    }

    .area {
        display: block
    }

    .area h2 {
        width: 100%;
        margin-bottom: 10px
    }

    .area .wrapp {
        display: block;
        width: 100%
    }

    .area .block {
        width: 100%
    }

    .contact_us-button {
        padding: 10px 20px;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 65px
    }
}