@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Medium.eot);
    src: local('../font/Gotham Pro Medium'), local('GothamPro-Medium'), url(../font/GothamPro-Medium.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Medium.woff) format('woff'), url(../font/GothamPro-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Bold.eot);
    src: local('../font/Gotham Pro Bold'), local('GothamPro-Bold'), url(../font/GothamPro-Bold.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Bold.woff) format('woff'), url(../font/GothamPro-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Light.eot);
    src: local('../font/Gotham Pro Light'), local('GothamPro-Light'), url(../font/GothamPro-Light.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Light.woff) format('woff'), url(../font/GothamPro-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Black.eot);
    src: local('../font/Gotham Pro Black'), local('GothamPro-Black'), url(../font/GothamPro-Black.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Black.woff) format('woff'), url(../font/GothamPro-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro.eot);
    src: local('../font/Gotham Pro'), local('GothamPro'), url(../font/GothamPro.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro.woff) format('woff'), url(../font/GothamPro.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

.font-light-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-style: normal
}

.font-regular-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal
}

.font-medium-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal
}

.font-bold-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal
}

.font-black-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 900;
    font-style: normal
}

body {
    background: transparent url(../img/eggg.svg) top left no-repeat;
    background-position: -935px -1000px
}

main {
    padding-top: 120px;
    display: flex
}

.locations {
    width: 50%;
    padding-right: 10%;
    padding-top: 95px
}

.locations h1 {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 40px
}

.map {
    width: 50%;
    height: calc(100vh - 100px);
    position: sticky;
    top: 100px
}

.select {
    margin-bottom: 45px
}

.select p {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 15px
}

.select .select-input_wrapp {
    border: 1px solid #E0E0E0;
    max-width: 440px;
    position: relative;
    overflow: hidden
}

.select .select-input_wrapp select {
    height: 47px;
    width: 100%;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    color: #333;
    padding: 7.5px 0 7.5px 18px;
    cursor: pointer;
    -webkit-appearance: none
}

.select .select-input_wrapp select option {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 50px !important;
    -webkit-appearance: unset !important
}

.select .select-input_wrapp select:focus {
    outline: 0
}

.select .select-input_wrapp:after {
    content: '';
    display: block;
    height: 47px;
    width: 45px;
    background: url(../img/door/select.png) center center no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none
}

.big-distributor {
    margin-bottom: 40px
}

.big-distributor h2 {
    font-size: 20px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 11px
}

.big-distributor .info {
    width: 100%
}

.big-distributor .row {
    display: flex;
    margin-bottom: 16px
}

.big-distributor .legend {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 32px;
    color: #828282;
    width: 35%
}

.big-distributor .data {
    width: 65%
}

.big-distributor .data a,
.big-distributor .data p {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 0;
    color: #000
}

.big-distributor .data a {
    display: block
}

.others {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    margin-bottom: 32px
}

.distributor {
    margin-bottom: 50px
}

.distributor:last-child {
    margin-bottom: 150px
}

.distributor h2 {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 15px
}

.distributor .legend {
    font-size: 12px;
    line-height: 18px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #828282
}

.distributor .data a,
.distributor .data p {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 32px;
    color: #000;
    display: block
}

.distributor .data a {
    line-height: 28px
}

.distributor .row {
    float: left;
    margin-bottom: 11px;
    margin-right: 15px
}

.data a.clarification {
    font-size: 12px;
    line-height: 16px;
    color: #009877;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    border-bottom: 1px dashed #81D4B4;
    display: inline-block;
    margin-right: 16px
}

.data a.clarification:hover {
    color: #00654f
}

nav.filled {
    box-shadow: 0 4px 11px rgba(0, 0, 0, .05)
}

@media screen and (min-width:768px) and (max-width:1220px) {
    main {
        padding-top: 70px
    }

    .map {
        top: 70px;
        height: calc(100vh - 70px)
    }

    .locations {
        padding-right: 5%
    }

    .big-distributor h2 {
        margin-bottom: 6px
    }

    .big-distributor .row {
        display: block
    }

    .big-distributor .data,
    .big-distributor .legend {
        width: 100%
    }

    .big-distributor .legend {
        line-height: 24px
    }

    .distributor .row {
        float: unset
    }
}

@media screen and (max-width:768px) {
    .map {
        display: none
    }

    main {
        padding-top: 70px
    }

    .locations {
        width: 100%;
        padding-right: 0;
        padding-top: 35px
    }

    .locations h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 52px
    }

    .select {
        margin-bottom: 55px
    }

    .select p {
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 8px
    }

    .big-distributor h2 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 15px
    }

    .big-distributor .row {
        display: block
    }

    .big-distributor .data,
    .big-distributor .legend {
        width: 100%
    }

    .big-distributor .legend {
        font-size: 13px;
        line-height: 20px
    }

    .big-distributor .data a,
    .big-distributor .data p {
        margin-bottom: -4px
    }

    .others {
        margin-top: 56px;
        margin-bottom: 36px
    }

    .distributor {
        margin-bottom: 30px
    }

    .distributor:last-child {
        margin-bottom: 45px
    }

    .distributor h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px
    }

    .distributor .row {
        float: unset;
        margin-right: 0;
        margin-bottom: 18px
    }

    .distributor .legend {
        line-height: 20px;
        margin-bottom: -3px
    }

    .distributor a,
    .distributor p {
        line-height: 24px
    }
}