@import url(font.less);


body{
    background: transparent url(../img/eggg.svg) top left no-repeat;
    background-position: -600px  250px
}


.header{
    height: 100vh;
}

.header-rotator {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
    position: absolute;
    top: 0;


    .slick-dots {
        opacity: 0;
        pointer-events: none
    }

    .slick-arrow:before {
        display: none;
    }

    .slick-prev {
        height: 34px;
        width: 16px;
        left: calc((100% - 1000px) / 2) !important;
        z-index: 999;
        top: unset;
        bottom: 8vh;
    }

    .slick-next {
        height: 34px;
        width: 16px;
        right: unset;
        left: calc((100% - 1000px) / 2 + 120px) !important;
        z-index: 999;
        top: unset;
        bottom: 8vh;
    }
}

div.item {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    &:before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #2F3437;
        opacity: 0.4;
    }

    &:after{
        content: "";
        display: block;
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 53.13%, rgba(0, 0, 0, 0.4) 100%);
    }

    .back,
    video {
        height: 100%;
        width: 100%;
        z-index: -1;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .content-container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .border {
        margin-top: 20vh;
        display: block;
        height: 60vh;
        width: 400px;
        border: 8px solid #009877;
        // border: 8px solid transparent;
        position: relative;
        transition: .3s all ease-in-out;
    }

    .text-wrapp {
        position: absolute;
        bottom: 40px;
        width: 75%;
        margin: 0 auto;
        padding-left: 60px;

        h2 {

            font-size: 64px;
            line-height: 70px;
            .font-bold-G();
            color: white;
            width: 40vw;
            margin-bottom: 36px;
            color: white;
            width: 50vw;
            opacity: 0;


        }

        p {
            .font-medium-G();
            margin-bottom: 26px;
            color: white;
            font-size: 16px;
            line-height: 32px;
            width: 50vw;
            opacity: 0;
        }

        a {
            font-size: 25px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            opacity: 0;
            // margin: 10px 0px;
            padding: 16px 43px;
            background: #009877;
            border-radius: 8px;
            width: 282px;
            height: 56px;
            .font-medium-G();
            transition: .3s all ease-in-out;

            &:hover {
                color: white !important;
                background: darken(#009877, 10%);
                transition: .3s all ease-in-out;
            }
        }
    }

}


@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation: .5s ease-in-out 0s fadeInLeft;
    // animation-fill-mode: forwards;
    animation-fill-mode: both;
}

// .fadeInUp {
// 	animation: .5s linear 0s  fadeInUp;
//   // -webkit-animation-name: fadeInUp;
//   // animation-name: fadeInUp;
//   animation-fill-mode: forwards;
// }


.header {
    position: relative;

    .anhor {
        position: absolute;
        bottom: 60px;
        display: flex;
        align-items: center;
        transform: rotate(-90deg);
        cursor: pointer;
        right: 60px;

        p {
            margin-left: 5px;
            font-size: 14px;
            line-height: 13px;
            color: #FFFFFF;
            .font-light-G();
        }
    }

    video {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .slide-count {
        display: inline-flex;
        position: absolute;

        left: calc((100% - 1000px) / 2 + 15px) !important;
        top: unset;
        bottom: calc(8vh + 19px) ;
        height: 34px;

        // bottom: 11vh;
        // width: 111px;
        white-space: nowrap;

        p {
            .font-light-G();
            font-size: 24px;
            line-height: 24px;
            color: white;
            margin-left: 10px;
            margin-right: 10px;
            width: 28px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.category {
    margin-top: 85px;
    margin-bottom: 100px;

    .title {
        max-width: 770px;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: #000000;
        margin: 0 auto;
        .font-regular-G();
        margin-bottom: 60px;
    }


}

.category-cards {
    max-width: 1000px;
    margin: 0 auto;

    .card {
        width: calc((100% - 20px)/ 2);

        margin-bottom: 20px;
        padding-top: 50%;
        margin-right: 20px;
        position: relative;

        &:nth-child(2n) {
            margin-right: 0
        }

        &:before {
            content: '';
            display: block;
            opacity: 0;
            top: 20px;
            height: calc(100% - 60px);
            width: calc(100% - 2 *80px);
            left: 0;
            right: 0;
            border: 8px solid #009877;
            position: absolute;
            z-index: 999;
            transition: .3s all ease-in-out;
            margin: 0 auto;
        }

        &:hover {
            &:before {
                opacity: 1;
                transition: .3s all ease-in-out;

            }
        }

    }

}


.card {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;



    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover
    }


    .text-block {
        position: absolute;
        bottom: 0;
        height: 150px;
        width: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 53.13%, rgba(0, 0, 0, 0) 100%);
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 20px;
            line-height: 28px;
            .font-medium-G();
            color: white;
            width: 180px;
            text-align: center;
        }
    }
}


.distibutors {
    background: transparent url(../img/background/distibutors.jpg) center center no-repeat;
    background-size: cover;
    margin-bottom: 107px;

    .text-wrapp {
        max-width: 640px;
        margin: 0 auto;
        padding: 130px 0 75px 0;
        text-align: center;

        h2 {
            .font-bold-G();
            font-size: 28px;
            line-height: 36px;
            color: white;
            width: 60%;
            margin: 0 auto;
            margin-bottom: 45px;
        }

        p {
            color: white;
            font-size: 16px;
            line-height: 32px;
            .font-regular-G();
            margin-bottom: 43px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;

            width: 318px;
            height: 40px;
            background: #009877;
            border-radius: 8px;
            color: white;
            margin: 0 auto;
            .font-medium-G();

            &:hover {
                color: white !important;
                background: darken(#009877, 5%);
            }
        }

    }
}

.promotion-card {
    max-width: 1205px;
    margin: 0 auto;
    margin-bottom: 120px;

    .card {
        width: calc((100% - 40px)/3);
        margin-right: 20px;
        margin-bottom: 20px;
        padding-top: 20%;
        display: block;

        &:nth-child(3n) {
            margin-right: 0
        }

        .text-block {
            height: 120px;
        }

        h2{
            line-height: 26px;
            width: 250px;
        }

        // &.link img {
            // border: 1px solid red;
        // }

    }
}

.news-container {
    max-width: 1200px;
    margin: 0 auto;

    h2 {

        font-size: 28px;
        line-height: 36px;
        .font-bold-G();
        margin-bottom: 35px;
        text-align: center;
    }

    .block.news {
        width: calc(100% / 4 - 15px);
        margin-right: 20px;
        height: 310px;

        &:nth-child(3n) {
            margin-right: 20px;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }

        .img-cover {
            margin-bottom: 15px;
        }

        h2 {
            width: 100%;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px){
    div.item{
        .text-wrapp{
            h2{
                font-size: 50px;
                line-height: 60px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1220px) {

    .category-cards,
    .promotion-card,
    .category .title,
    .news-container {
        max-width: 760px;
    }

    .promotion-card {
        .card {
            width: calc(100% / 2 - 10px);
            padding-top: 32%;

            &:nth-child(3n) {
                margin-right: 20px;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    .news-container {
        .block.news {
            width: calc(100% / 2 - 10px);
            margin-right: 20px;
            height: 350px;
            margin-bottom: 40px;
            max-width: unset;

            &:nth-child(2n) {
                margin-right: 0;

            }
        }
    }

    .header {
        video {
            width: 100%;
        }

        .anhor {
            right: 0;
        }

        .slide-count {
            left: calc((100% - 760px) / 2 + 15px) !important;

        }

    }

    .header-rotator {
        .slick-prev {
            left: calc((100% - 760px) / 2) !important;
        }

        .slick-next {
            left: calc((100% - 760px) / 2 + 120px) !important;
        }
    }

    div.item {
        .content-container {
            max-width: 760px
        }

        .border {
            margin-left: -72px;
            width: 760px;
        }

        .text-wrapp {
            width: 760px;

            h2 {
                width: 90%;
                font-size: 42px;
                line-height: 52px;
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .category .title {
        max-width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;

        font-size: 16px;
        line-height: 24px;
        margin-bottom: 50px;
    }

    .category {
        margin-bottom: 70px;
    }

    .category-cards {
        width: calc(100% - 40px);

        .card {
            width: 100%;
            float: unset;
            padding-top: 107%;

            .text-block {
                height: 100px;

                h2 {

                    font-size: 16px;
                    line-height: 18px;
                }
            }
        }
    }

    .distibutors {
        margin-bottom: 60px;

        .text-wrapp {
            width: calc(100% - 40px);
            padding-top: 85px;

            h2,
            p {
                width: 100%;
            }

            h2 {

                font-size: 18px;
                line-height: 24px;
                margin-bottom: 25px;
            }

            p {

                font-size: 14px;
                line-height: 24px;
                margin-bottom: 26px;
            }

            a {

                font-size: 14px;
                line-height: 14px;
                width: 225px;
                padding: 9px 15px;
            }
        }
    }

    .promotion-card {
        width: calc(100% - 40px);
        margin-bottom: 65px;

        .card {
            width: 100%;
            margin-right: 0;
            float: unset;
            padding-top: 55%;

            .text-block {
                height: 100px;

                h2 {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }

    .news-container {
        width: calc(100% - 40px);

        h2 {
            font-size: 18px;
            line-height: 24px;
            text-align: left;
        }
    }

    .news-container .block.news {
        margin-bottom: 36px;
        width: 100%;
        margin-right: 0;
        height: 320px;
    }

    .header {
        height: 500px;

        .anhor {
            display: none;
        }

        video {
            height: 100%;
        }

        .slide-count p {
            font-size: 16px;
            line-height: 24px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .slide-count {
            left: 31px !important;
            bottom: 48px;
            height: 25px;
            width: 72px;
        }

    }

    .header{
        height: 500px;
    }

    .header-rotator {
        height: 500px;

        .slick-next,
        .slick-prev {
            bottom: 35px;
            height: 25px;
            width: 12px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .slick-prev {
            left: 20px !important;
        }

        .slick-next {
            left: 100px !important;
        }


    }

    div.item {
        .border {
            width: calc(100% - 40px);
            margin: 0 auto;
            height: 230px;
            margin-top: 170px;
        }

        .text-wrapp {
            padding-left: 24px;
            width: 100%;
            padding-right: 0px;
            bottom: 20px;

            h2 {
                font-size: 24px;
                line-height: 32px;
                width: 100%;
                margin-bottom: 15px;
                width: 100%;
            }

            p {

                font-size: 14px;
                line-height: 24px;
                .font-regular-G();
                width: 100%;
            }

            a {
                width: 145px;
                padding: 9px 15px;
                font-size: 14px;
                line-height: 14px;
                height: 32px;
            }
        }
    }
}