@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Medium.eot);
    src: local('../font/Gotham Pro Medium'), local('GothamPro-Medium'), url(../font/GothamPro-Medium.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Medium.woff) format('woff'), url(../font/GothamPro-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Bold.eot);
    src: local('../font/Gotham Pro Bold'), local('GothamPro-Bold'), url(../font/GothamPro-Bold.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Bold.woff) format('woff'), url(../font/GothamPro-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Light.eot);
    src: local('../font/Gotham Pro Light'), local('GothamPro-Light'), url(../font/GothamPro-Light.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Light.woff) format('woff'), url(../font/GothamPro-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Black.eot);
    src: local('../font/Gotham Pro Black'), local('GothamPro-Black'), url(../font/GothamPro-Black.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Black.woff) format('woff'), url(../font/GothamPro-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro.eot);
    src: local('../font/Gotham Pro'), local('GothamPro'), url(../font/GothamPro.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro.woff) format('woff'), url(../font/GothamPro.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

.font-light-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-style: normal
}

.font-regular-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal
}

.font-medium-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal
}

.font-bold-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal
}

.font-black-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 900;
    font-style: normal
}

body {
    background: 0 0;
    background-position: -930px -930px
}

.content-container {
    max-width: 795px;
    margin: 0 auto
}

.header {
    position: relative;
    padding-top: 130px;
    margin-bottom: 82px;
    min-height: 770px
}

.header.date-attr .date {
    display: block
}

.header.description-attr .descr {
    display: block
}

.header.img-attr img {
    display: block
}

.header .border {
    border: 8px solid #009877;
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 43px;
    margin-left: -51px;
    width: 675px;
    max-height: 496px
}

.header .border.yellow {
    border: 8px solid #DDDC00
}

.header h1 {
    font-size: 40px;
    line-height: 50px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 28px;
    width: 795px
}

.header .descr {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 750px;
    color: #333;
    display: none
}

.header .date {
    font-size: 15px;
    line-height: 50px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: -5px;
    display: none
}

.header img {
    width: 795px;
    height: auto;
    display: none;
    margin-top: 43px
}

.text p {
    font-size: 18px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    margin-bottom: 32px
}

.text h2 {
    font-size: 28px;
    line-height: 36px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 76px;
    margin-bottom: 28px
}

.text ul {
    margin-bottom: 45px
}

.text ul li {
    list-style: url(../img/icon/dot.svg) outside;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    margin-left: 25px;
    margin-bottom: 10px;
    padding-left: 8px
}

.text ol {
    list-style: ""outside;
    counter-reset: counter;
    margin-bottom: 45px;
    margin-left: 35px
}

.text ol li {
    counter-increment: counter;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    margin-bottom: 10px
}

.text ol li::before {
    content: counter(counter);
    padding-right: 8px;
    width: 20px;
    display: inline-flex;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #009877;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    margin-left: -28px
}

.text table {
    border-collapse: collapse;
    width: 795px
}

.text table thead {
    border-bottom: 3px solid #E0E0E0
}

.text table td {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 25px
}

.text table td:first-child {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal
}

.text table td:first-child {
    text-align: left;
    width: unset
}

.text table th {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 32px;
    color: #828282;
    text-align: right;
    padding-bottom: 5px;
    margin-bottom: 23px;
    width: 205px
}

.text table th:first-of-type {
    text-align: left;
    width: unset
}

.return {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #009877;
    border-radius: 8px;
    padding: 10px 20px;
    white-space: nowrap;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #009877;
    margin-top: 150px;
    margin-bottom: 85px;
    transition: .3s all ease-in-out
}

.return:hover {
    background: #009877;
    color: #fff !important;
    transition: .3s all ease-in-out
}

@media screen and (min-width:768px) and (max-width:1220px) {
    .content-container {
        max-width: 760px
    }

    .header h1,
    .header img,
    .header p {
        width: 760px
    }

    .text .table-wrapp {
        width: 100%;
        overflow: scroll
    }
}

@media screen and (max-width:768px) {
    .content-container {
        max-width: calc(100% - 40px)
    }

    .header {
        padding-bottom: 0;
        margin-bottom: 50px;
        padding-top: 90px;
        overflow: hidden;
        min-height: unset
    }

    .header .border {
        width: 100%;
        margin-left: 0;
        padding-left: 23px;
        padding-top: 11px;
        padding-right: 12px;
        padding-bottom: 29px;
        max-height: unset;
        position: relative
    }

    .header .border:after {
        content: '';
        display: block;
        height: 100%;
        width: 8px;
        background: #009877;
        position: absolute;
        bottom: 0;
        left: -8px
    }

    .header .border.yellow:after {
        background: #DDDC00
    }

    .header .border h1,
    .header .border img,
    .header .border p {
        width: 100%
    }

    .header .border .date {
        font-size: 13px;
        line-height: 50px
    }

    .header .border h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px
    }

    .header .border .descr {
        font-size: 14px;
        line-height: 24px
    }

    .header .border img {
        width: 100vw;
        margin-left: -51px
    }

    .text .table-wrapp {
        width: 100%;
        overflow-y: scroll
    }

    .text p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 24px
    }

    .text h2 {
        font-size: 18px;
        line-height: 24px;
        margin-top: 50px;
        margin-bottom: 23px
    }

    .return {
        font-size: 14px;
        line-height: 14px;
        width: 100%
    }
}