@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Medium.eot);
    src: local('../font/Gotham Pro Medium'), local('GothamPro-Medium'), url(../font/GothamPro-Medium.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Medium.woff) format('woff'), url(../font/GothamPro-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Bold.eot);
    src: local('../font/Gotham Pro Bold'), local('GothamPro-Bold'), url(../font/GothamPro-Bold.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Bold.woff) format('woff'), url(../font/GothamPro-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Light.eot);
    src: local('../font/Gotham Pro Light'), local('GothamPro-Light'), url(../font/GothamPro-Light.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Light.woff) format('woff'), url(../font/GothamPro-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro-Black.eot);
    src: local('../font/Gotham Pro Black'), local('GothamPro-Black'), url(../font/GothamPro-Black.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro-Black.woff) format('woff'), url(../font/GothamPro-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../font/GothamPro.eot);
    src: local('../font/Gotham Pro'), local('GothamPro'), url(../font/GothamPro.eot?#iefix) format('embedded-opentype'), url(../font/GothamPro.woff) format('woff'), url(../font/GothamPro.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

.font-light-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;
    font-style: normal
}

.font-regular-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal
}

.font-medium-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal
}

.font-bold-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal
}

.font-black-G {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 900;
    font-style: normal
}

.container {
    padding-top: 120px
}

.header {
    position: relative;
    padding-top: 130px;
    padding-bottom: 65px;
    margin-bottom: 82px
}

.header:after {
    content: "";
    display: block;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .1) 53.13%, rgba(0, 0, 0, .4) 100%)
}

.header .image-wrapp {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
    height: 100%;
    width: 100%
}

.header .image-wrapp:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #2F3437;
    opacity: .5
}

.header img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.header .border {
    border: 8px solid #009877;
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 43px;
    margin-left: -51px;
    width: 675px
}

.header h1 {
    font-size: 40px;
    line-height: 50px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    margin-bottom: 28px;
    width: 400px
}

.header p {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 750px
}

.header a {
    font-size: 25px;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: #FFF;
    padding: 16px 43px;
    background: #009877;
    border-radius: 8px;
    height: 56px;
    transition: .3s all ease-in-out;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 30px
}

.header a:hover {
    background: #00654f;
    color: #fff !important;
    transition: .3s all ease-in-out
}

.content-container {
    max-width: 795px;
    margin: 0 auto;
    position: inherit
}

.text {
    margin-bottom: 80px
}

.text:last-child {
    margin-bottom: 170px
}

.text p {
    font-size: 18px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    margin-bottom: 32px
}

.text h2 {
    font-size: 28px;
    line-height: 36px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 76px;
    margin-bottom: 28px
}

.text ul {
    margin-bottom: 45px
}

.text ul li {
    list-style: url(../img/icon/dot.svg) outside;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    margin-left: 25px;
    margin-bottom: 10px;
    padding-left: 8px
}

.text ol {
    list-style: ""outside;
    counter-reset: counter;
    margin-bottom: 45px;
    margin-left: 35px
}

.text ol li {
    counter-increment: counter;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    margin-bottom: 10px
}

.text ol li::before {
    content: counter(counter);
    padding-right: 8px;
    width: 20px;
    display: inline-flex;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #009877;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    margin-left: -28px
}

.text table {
    border-collapse: collapse;
    width: 795px
}

.text table thead {
    border-bottom: 3px solid #E0E0E0
}

.text table td {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 25px
}

.text table td:first-child {
    text-align: left;
    width: unset
}

.text table th {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 32px;
    color: #828282;
    text-align: right;
    padding-bottom: 5px;
    margin-bottom: 23px;
    width: 205px
}

.text table th:first-of-type {
    text-align: left;
    width: unset
}

.text .covering {
    border: 8px solid #DDDC00;
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px
}

.text .covering img {
    position: absolute;
    left: -125%;
    height: 500px;
    transform: translateY(-250px);
    top: 50%;
    z-index: -1
}

.text .covering .text-place {
    width: 65%;
    margin-left: auto;
    padding-top: 80px;
    padding-right: 100px;
    padding-bottom: 80px
}

.text .covering .text-place h2 {
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #333;
    margin-bottom: 35px;
    margin-top: 0;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal
}

.text .covering .text-place p {
    font-size: 16px;
    line-height: 32px;
    color: #333;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0
}

.catalog-link {
    margin-top: 120px;
    margin-bottom: 125px;
    border: 8px solid #009877;
    padding: 48px 100px 45px 100px;
    text-align: center
}

.catalog-link h2 {
    margin-bottom: 31px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 36px
}

.catalog-link a {
    font-size: 20px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: #FFF;
    padding: 16px 43px;
    background: #009877;
    border-radius: 8px;
    height: 40px;
    transition: .3s all ease-in-out;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    border: 1px solid transparent
}

.catalog-link a:hover {
    background: #fff;
    border: 1px solid #009877;
    transition: .3s all ease-in-out
}

.tile-place {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 90px
}

.tile-place .tile-wrapp {
    display: flex;
    flex-flow: row wrap;
    max-height: 400px;
    transition: .3s all ease-in-out;
    position: relative;
    overflow: hidden
}

.tile-place .tile-wrapp .after {
    display: block;
    width: 100%;
    height: 150px;
    background: linear-gradient(360deg, #FFF 0, rgba(255, 255, 255, .86) 32.81%, rgba(255, 255, 255, .58) 64.06%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: .3s all ease-in-out;
    pointer-events: none
}

.tile-place .btn {
    border: 1px solid #009877;
    border-radius: 8px;
    font-size: 25px;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: #009877;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 16px 43px;
    margin-top: 25px;
    transition: .3s all ease-in-out;
    cursor: pointer
}

.tile-place .btn:hover {
    background: #009877;
    color: #fff !important;
    transition: .3s all ease-in-out
}

.tile-place .tile {
    display: block;
    width: calc(100% / 4 - 15px);
    margin-right: 20px;
    margin-bottom: 20px
}

.tile-place .tile:nth-child(4n) {
    margin-right: 0
}

.tile-place .tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: url(../img/icon/cur_11.png), auto
}

@media screen and (min-width:768px) and (max-width:1220px) {
    .content-container {
        max-width: 760px
    }

    .tile-place {
        max-width: 760px
    }

    .tile-place .tile {
        width: calc(100% / 3 - 15px)
    }

    .tile-place .tile:nth-child(4n) {
        margin-right: 20px
    }

    .tile-place .tile:nth-child(3n) {
        margin-right: 0
    }

    .text .covering img {
        left: -128%
    }

    .catalog-link {
        margin-top: 80px
    }
}

@media screen and (max-width:768px) {
    .content-container {
        max-width: unset;
        width: calc(100% - 40px)
    }

    .header {
        padding-top: 115px;
        padding-bottom: 51px;
        margin-bottom: 0
    }

    .header .image-wrapp {
        height: unset
    }

    .header .image-wrapp:before {
        height: 98%
    }

    .header img {
        height: 42%
    }

    .header .border {
        width: unset;
        margin: unset;
        padding: 33px 21px 28px 33px
    }

    .header h1,
    .header p {
        width: 100%
    }

    .header h1 {
        font-size: 24px;
        line-height: 32px
    }

    .header p {
        color: #333;
        font-size: 14px;
        line-height: 24px
    }

    .header a {
        font-size: 14px;
        line-height: 14px;
        height: 32px;
        padding: 9px 16px
    }

    main {
        overflow: hidden
    }

    .text {
        margin-bottom: 110px
    }

    .text p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 24px
    }

    .text h2 {
        font-size: 18px;
        line-height: 24px;
        margin-top: 50px;
        margin-bottom: 23px
    }

    .text .covering {
        margin-top: 55px;
        width: calc(100% + 30px)
    }

    .text .covering img {
        height: 300px;
        top: unset;
        left: 30px;
        bottom: -300px
    }

    .text .covering .text-place {
        width: 100%;
        padding-left: 22px;
        padding-top: 60px;
        padding-right: 20px;
        padding-bottom: 290px
    }

    .text .covering .text-place h2 {
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px
    }

    .text .covering .text-place p {
        font-size: 14px;
        line-height: 24px
    }

    .tile-place {
        max-width: calc(100% - 40px);
        margin-right: auto;
        margin-left: auto
    }

    .tile-place .tile {
        width: calc(100% / 2 - 10px)
    }

    .tile-place .tile:nth-child(2n) {
        margin-right: 0
    }

    .tile-place .tile-wrapp {
        max-height: 250px
    }

    .tile-place .tile-wrapp .after {
        height: 150px
    }

    .tile-place .btn {
        font-size: 14px;
        line-height: 14px;
        padding: 9px 16px
    }

    .catalog-link {
        margin-top: 70px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 30px;
        padding-bottom: 40px;
        margin-bottom: 80px
    }

    .catalog-link h2 {
        font-family: 'Gotham Pro', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 50px
    }

    .catalog-link a {
        font-size: 14px;
        line-height: 14px;
        padding: 9px 16px
    }
}

@media screen and (max-width:768px) and (min-width:425px) {
    .header img {
        height: 195px
    }
}